<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/lightbox.css">
        <link rel="stylesheet" type="text/css" href="css/gallery.css">
        <link rel="stylesheet" type="text/css" href="css/home.css">

  <style>
        .navbar { border-radius:0; }
    </style>
	
</head>
<body>
<div class="container">
	<h1 class="gallery-heading">Gallery</h1>
	<center>
	<!-- row 1 starts -->
	<div class="row gallery-rows">
	<div class="col-sm-3">
		<a href="assets/gallery_img/1.JPG" data-title="Yummy Food" data-lightbox="vacatoin" class="">
		<img src="assets/gallery_img/1.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>

	<div class="col-sm-3">
		<a href="assets/gallery_img/2.JPG" data-title="Sitting Arrengement" data-lightbox="vacatoin" >
		<img src="assets/gallery_img/2.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>

	<div class="col-sm-3">
		<a href="assets/gallery_img/3.JPG" data-title="Parking Space" data-lightbox="vacatoin" >
		<img src="assets/gallery_img/3.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>

	<div class="col-sm-3">
		<a href="assets/gallery_img/4.JPG" data-title="Parking Space" data-lightbox="vacatoin" >
		<img src="assets/gallery_img/4.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>
	</div>
	<!-- row 1 ends -->

	<!-- row 2 -->
	<div class="row gallery-rows gallery-second-row">
	<div class="col-sm-3">
		<a href="assets/gallery_img/5.JPG" data-title="Main Entrance" data-lightbox="vacatoin" class="">
		<img src="assets/gallery_img/5.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>

	<div class="col-sm-3">
		<a href="assets/gallery_img/6.JPG" data-title="Separate sitting Arrengement" data-lightbox="vacatoin" >
		<img src="assets/gallery_img/6.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>

	<div class="col-sm-3">
		<a href="assets/gallery_img/7.JPG" data-title="Table Arrengement" data-lightbox="vacatoin" >
		<img src="assets/gallery_img/7.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>

	<div class="col-sm-3">
		<a href="assets/gallery_img/8.JPG" data-title="Table Arrengement" data-lightbox="vacatoin" >
		<img src="assets/gallery_img/8.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>	
	</div>
	<!-- row 2 end -->

	<!-- row 3 -->
	<div class="row gallery-rows gallery-second-row">
	<div class="col-lg-3">
		<a href="assets/gallery_img/9.JPG" data-title="Tables" data-lightbox="vacatoin" class="">
		<img src="assets/gallery_img/9.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>

	<div class="col-sm-3">
		<a href="assets/gallery_img/10.JPG" data-title="Tables" data-lightbox="vacatoin" >
		<img src="assets/gallery_img/9.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>

	<div class="col-sm-3">
		<a href="assets/gallery_img/11.JPG" data-title="Garden Space" data-lightbox="vacatoin" >
		<img src="assets/gallery_img/11.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>

	<div class="col-sm-3">
		<a href="assets/gallery_img/12.JPG" data-title="Foods" data-lightbox="vacatoin" >
		<img src="assets/gallery_img/12.JPG" class="img-rounded gallery-img img-responsive"></a>
	</div>
	</div>
	<!-- row 3 end -->
</center>

</div>



<script type="text/javascript" src = "js/lightbox.js"></script>
<!-- <script type="text/javascript" src = "js/lightbox.min.js"></script>
 -->
</body>
</html>