<!DOCTYPE html>
<html>
<head>
	<title>Royal Garden Resto</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/home.css">
    <style>
        .navbar { border-radius:0; }
    </style>
</head>
<body>

<!-- slider starts -->
<div class="img-responsive overlay">
	<img src="assets/img/3.JPG" class="img-responsive img-main">
</div>
<!-- slider end --> 

<!-- what we serve div starts -->
<div class="row">
<div class="container">
<div class="heading">WHAT WE SERVE</div>
			<div class="col-sm-4 right-border bord">
				<img src="assets/img/quality.png">
			<div class="sub-heading">QUALITY</div>	
			<p class="description">"For our customer we serve a good qaulity of food."</p>		
			</div>

				<div class="col-sm-4 right-border bord">
				<img src="assets/img/qauntity.png">
				<div class="sub-heading">QUANTITY</div>	
				<p class="description">"For our customer we offer a good qauntity of food."</p>
				</div>
	

					<div class="col-sm-4 bord">
					<img src="assets/img/fresh.png">
					<div class="sub-heading">FRESH</div>
					<p class="description">"For our customer we serve a fresh food."</p>	
					</div>
</div>
</div>
<!-- what we serve div ends -->

<div class="row">
	<div class="container image-description">
	<div class="col-sm-6">
		<img src="assets/img/tables.JPG" class="table-img img-responsive">
	</div>

	<div class="col-sm-6 image-text">
		<p class="image-txt">Our features 
*Humble parking
*prompt service.
*pleasant Garden.
*Banquet space
*children play area
*free home delivery within 8 kms.</p>
	</div>
		
	</div>
</div>



</body>
</html>